<html>
<head>
  <title>HBD</title>
  <style>
  body {
    overflow-x: hidden;
    margin: 0;
  }
  </style>
</head>
<body>
  <canvas id="hbd-canvas">
  </canvas>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="hbd.js"></script>
</body>
</html>